body {
    background-color: pink;
    color: white;
}
.heading {
    width: 80%;
    height: 9%;
    font-size: 30px;
    font-family: 'Great Vibes';
}
.name_of_objects {
    color: palevioletred;
    font-family: 'Great Vibes';
    font-size: 25px;
}